body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f8f8f8;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #ffffff;
    padding: 20px 0;
    border-bottom: 2px solid #cce7ff;
}

header h1 {
    margin: 0;
    text-align: center;
    color: #0073e6;
}

.navi {
    margin-top: 10px;
}

.navi nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navi nav ul li {
    display: inline;
    margin: 0 10px;
}

.navi nav ul li a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}

.hero {
    background: #e6f7ff;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    margin: 0;
    color: #004d99;
}

.hero p {
    margin: 10px 0 0;
    color: #003366;
}

#About {
    padding: 50px 0;
    background: #ffffff;
}

.who_are_we .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.who_are_we .about-content img.about-image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #cce7ff;
}

.who_are_we p {
    text-align: justify;
    color: #333;
}

.why_us {
    padding: 50px 0;
    text-align: center;
    background: #f0faff;
}

#why_us {
    display: flex;
    justify-content: center;
}

.choose {
    margin: 0 20px;
    text-align: center;
    background: #ffffff;
    border: 2px solid #cce7ff;
    border-radius: 10px;
    padding: 20px;
}

.choose h3 {
    margin-bottom: 10px;
    font-size: 2em;
    color: #0073e6;
}

#Products {
    padding: 50px 0;
    background: #e6f7ff;
}

.products .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products .product-item {
    background: #ffffff;
    border: 2px solid #cce7ff;
    margin: 10px;
    padding: 20px;
    width: calc(25% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

.products .product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.products .product-item h3 {
    margin: 20px 0 10px;
    color: #0073e6;
}

.products .product-item p {
    color: #666;
}

.products .product-item .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #0073e6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.products .product-item .btn:hover {
    background: #004d99;
}

footer {
    background: #ffffff;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #cce7ff;
    color: #333;
}
